node_modules
dist
lib
.husky/_

.vscode/*
.vs/*
!.vscode/extensions.json

*.tgz
tsconfig.tsbuildinfo
*.log

kotori.dev.yml

# modules/*
!modules/adapter-*
!modules/core
!modules/helper
!modules/i18n-command
!modules/menu

data