node_modules
dist
lib
.husky/_

.vscode/*
.vs/*
!.vscode/extensions.json

*.tgz
*.log
tsconfig.tsbuildinfo
test.http
kotori.dev.*

log/*
data/*

.DS_Store
.bsb.lock
.merlin

*.res.cjs
*.res.mjs
*.res.js