node_modules
dist
lib
.husky/_

*.tgz
tsconfig.tsbuildinfo
pnpm-lock.yaml
kotori.dev.yml

scripts/*.js

modules2
modules3
# modules/*
!modules/adapter-*
!modules/core
!modules/helper
!modules/i18n-command
!modules/menu

.obsidian
yarn.lock